h1{
    font-family: 'Noto Serif', serif;
}

body{
    background-image: url(img.cadastro-login.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

div{
    background-color: #ffff;
    margin: 10rem 30rem;
    padding: 1.5rem;
    border-radius: 20px;
    img{
        width: 10rem;
    }
    h1{
        font-size: 20px;
    }
    input{
        background-color: #cbcbcb;
        border: none;
        padding: 1rem;
        border-radius: 0.5rem;
        font-size: 1.2rem;
    }
}

