body{
    background-image: url(img.cadastro-login.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section{
    background-color: #ffff;
    width: 42rem;
    padding: 1.5rem;
    border-radius: 20px;
    img{
        width: 10rem;
    }
    button{
    background-color: black;
    font-family: 'Belleza', sans-serif;
    border-radius: 10px;
    margin-left: 5rem;
    font-size: 2rem;
    padding: 8px;
    border: none;
    cursor: pointer;
    transition: 0.4s;
    }
    button:hover{
        background-color: rgb(40, 40, 40);
        transform: scale(0.95);
    }
    a{
        text-decoration: none;
        color: white;
    }
}

div{
    text-align: center;
    h1{
        font-family: 'Noto Serif', serif;
        font-size: 3rem;
        text-align: center;
        margin-top: 0%;
    }
    input{
        align-items: center;
        background-color: #cbcbcb;
        border: none;
        padding: 1rem;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        width: 30rem;
        margin-bottom: 2.5rem;
        font-family: 'Belleza', sans-serif;
    }
}